* {
    font-family: 'Roboto', sans-serif;
}

header, .hero-section, footer {
    background-color: #1f2937;
    color: #f9faf8;
}

header h3 {
    font-size: 24px;
}

.hero-text h1 {
    font-weight: 900;
    font-size: 48px;
}

.hero-text p, header ul {
    font-size: 18px;
    color: #e5e7eb;
}

.call {
    background-color: #3882f6;
    color: white;
}

button {
    background-color: #3882f6;
    color: white;
}

.quote {
    background-color: #e5e7eb;
    color:#1f2937;
    font-style: italic;
    font-size: 36px;
}